 <!-- header row -->
    <div class="box row">
      <!-- search field input row -->
        <div class='large-5 large-offset-1 columns row'>
          <form method="get" action="/search" id="search_form">
            
            <!-- search  -->
            <div class='large-1 columns'>
              <label class='right inline' for='search'>Search</label>
            </div>
            <div class='large-3 column'>
              <input autocomplete="off" id="search" maxlength="64" name="search" placeholder="Search" tabindex="1">
            </div>
            <!-- where  -->
            <div class='large-1 columns'>
              <label class='right inline search-label' for='where'>Where</label>
            </div>
            <div class='large-3 columns'>
              <input id="where" maxlength="64" name="where" placeholder="address, neighborhood, city, state or zip" tabindex="2">
            </div>
            <!-- submit -->
            <button class='large-2 large-offset-1 column small button radius' id="search_submit" type="submit" value="submit">SEARCH</button>
          </form>
        </div> <!-- end row large-6 cols -->

        <!-- create event -->
        <div class="large-1 large-offset-4 columns"><button id="create" type="submit" value="submit">Sign Up</button></div>

        <!-- sigin in -->
        <div class="large-1 columns"><button id="login" type="submit" value="submit">Log In</button></div>
      </div> <!-- end header class box -->
    </div> <!-- end map -->
