<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <!-- Leave this empty -->
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="has-form">
        <form>
          <div class="row collapse">
            <div class="small-5 columns">
              <input type="text" placeholder="Search">
            </div>
            <div class="small-5 columns">
              <input type="text" placeholder="Location">
            </div>
            <div class="small-2 columns">
              <a href="#" class="postfix button">Search</a>
            </div>
          </div>
        </form>
      </li>
      <li class="divider"></li>

    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <% if signed_in? %>
      <% end %>
      <li class="active hidden"><a href="users/new" class="boxdata" data-reveal-id="myModal" data-reveal-ajax="true">Create</a></li>
      <li class="divider"></li>
      <li><a href="/login" class="boxdata" data-reveal-id="myModal" data-reveal-ajax="true">Log In</a></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>