<head>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" />
		 <!--[if lte IE 8]>
		     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.ie.css" />
		 <![endif]-->
		 <script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js"></script>

    <!-- <script src="jquery-2.0.3.min.js"></script> -->

</head>
<body>

	 <div id="map">

   <%= render partial: "mapSearchHeader" %>

   </div>

    <script type="text/javascript" src="http://api.evdb.com/js/api">
    </script>


  <script>

		var latitude;
		var longitude;


   if(navigator.geolocation) {
      // timeout at 60000 milliseconds (60 seconds)
      var options = {timeout:60000};
      navigator.geolocation.getCurrentPosition(setMap, errorHandler, options);
   }
   else {
         alert("Sorry, browser does not support geolocation!");
   }

  function errorHandler(err) {
    if(err.code == 1) {
      console.log(err);
      alert("Error: Access to your location is denied by browser!");
    }
    else if( err.code == 2) {
      alert("Error: Position is unavailable!");
    }
  } /* end errorHandler */

  function setMap(position) {

  	latitude = position.coords.latitude;
  	longitude = position.coords.longitude;

    /* CREATING MAP WITH LEAFLET.JS */

    /* Setting Map */

  	map = L.map('map').setView([latitude, longitude], 11);

  	L.tileLayer('http://{s}.tile.cloudmade.com/58b8aaeed6f643f09991358eb6f2e588/20214/256/{z}/{x}/{y}.png', {
  	    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
  	    maxZoom: 18
  	}).addTo(map);

    /* Filling Map */


   /* CALL TO EVENTFULL API*/
    var oArgs = {

       app_key: "4KMXVbWrVkKnh2rv",

       where: latitude + ', ' + longitude,

       category: 'music',

       within: 30,

       units: 'mi',

       date: "Today",

       page_size: 20,

       sort_order: "popularity",

    };

    console.log('parameters given to Eventful API query:');
    console.log(oArgs);

    EVDB.API.call("/events/search", oArgs, function(response) {

       console.log(response);
       var events = response.events.event;


       for (var i=0; i<events.length; i++){
        var latPop = events[i].latitude;
        var lngPop = events[i].longitude;
        var title = events[i].title;
        var url = events[i].url;
        title = '<a href='+ url +'>'+title+'</a>';
        var eventMarker = L.marker([latPop, lngPop]).addTo(map);
        var descripPopUp = L.popup().setContent(title);
        eventMarker.bindPopup(descripPopUp).openPopup().closePopup();
       }

    }); /* end EVDB api call */

      /* set marker for user's current location */
      var hereMarker = L.marker([latitude, longitude]).addTo(map);

      /* set pop up for user's current location */
      var herePopUp = L.popup()
        .setLatLng([latitude, longitude])
        .setContent("You're here")
        .openOn(map);



      /* test weather following lat/long is in the map */
      var latlng = new L.LatLng(50.5, 30.5);
      console.log(map.getBounds().contains(latlng));


      var concerts = [<%=h @concertsjs %>];

      console.log(concerts);

      var len = concerts.length;
      for (var i = 0; i < len; i++) {
        var marker = L.marker([concerts[i].lat, concerts[i].lng]).addTo(map);
        var title = "<a class='popdata' data-reveal-id='myModal' data-reveal-ajax='true' href='/concerts/" + concerts[i].id + "'>" + concerts[i].title + "</a>";
        var descripPopUp = L.popup().setContent(title);
        marker.bindPopup(descripPopUp).openPopup().closePopup();
      }



        $('a.popdata').on('click', function(){
            console.log('click event executed');
            var href = $(this).attr('href');
            console.log(href);
            $.ajax({
                 url : href,
                 success: function(html) {
                  $('#modal-content').html(html);
                 }
            });
        });

  	} /* End setMap function */
  </script>


  <div id="myModal" class="reveal-modal">
    <div id="modal-content"></div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</body>