html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

#map{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.top-bar {
	z-index: 2;
	padding-left: 50px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
}

input {
	margin: 0;
}