<form action="" method="POST">
  <fieldset>
    <legend>Add a Musical Act</legend>
    <p>

    </p>
    <div class="row">
      <div class="large-12 columns">
        <label>Artist or Band Name</label>
        <input type="text" id="event_name" name="event_name" placeholder="The Beatles" class="large-12 columns clear">
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Member Names</label>
        <input type="text" id="artist" name="artist" placeholder="John Lennon" class="large-12 columns clear">
      </div>
      <div class="large-12 columns">
        <label>Links</label>
      </div>
    </div>
    <div class="row link_block">
      <div class="large-12 columns">
        <input type="text" id="link" name="artist" placeholder="thebeatles.com" class="large-12 columns clear">
      </div>
    </div>
    <div class="row">
      <span class="help_block large-12 columns">
        <a href="#" class="link_block_add right">Add another link</a>
      </span>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Tags</label>
        <input type="text" id="artist" name="artist" placeholder="rock and roll" class="large-12 columns clear">
      </div>
    </div>
        <div class="row">
      <div class="large-12 columns">
        <input type="submit" value="Add Act" class="small button">
      </div>
    </div>
  </fieldset>
</form>
